#tags ul li {
    list-style: none;
}

#tags {
    margin-top: 15px;
    padding-top: 0px;
}

.footer {
    margin-top: 10px;
}

#home h2 {
    color: #181818;
}


ul.posts li {
    margin-bottom: 10px;
}

.posts li .date {
    display: inline-block;
    font-size: 80%;
    color: darkgray;
}

@media screen and (max-device-width: 500px) {
    #tags {
        display: none;
    }
}